# Block access to .env files
<FilesMatch "^\.env.*">
    Order allow,deny
    Deny from all
</FilesMatch>

# Block access to Composer files
<FilesMatch "^(composer\.json|composer\.lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Block direct access to vendor directory
RedirectMatch 403 ^/bugo-resident-side/vendor/

# Custom 403 error page
ErrorDocument 403 /bugo-resident-side/security/403.html
RedirectMatch 404 /\.git